.page-desc{
 position: absolute;
 float: left;
 width: 750px;
 
 height: 300px;
 margin-top: 150px;
 margin-left: 40px;
 p{
     text-shadow: rgb(150, 150, 150) -2px 3px 5px;
    text-align: justify;
    text-justify:values;
     font-family: "BellMT";
     font-size: 25px;
     line-height: 1.5;
     strong{
         font-size: 50px;
     }
 }
 .p-spacing{
     line-height: 2;
 }
}
.get-started-btn{
    position: absolute;
    top: 650px;
    left: 40px;
    background-color: black;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    a{
        text-decoration: none; 
        color: white;
        font-size: 20px;
        margin-left: -25px;
        img{
            position:absolute;
            height: 27px;
            width: 27px;
            margin-left: 10px;
            margin-top: -2px;
           
        }
    }
}
.tracker-images {
    
    width: 700px;
    height: 650px;
    position: relative;
    float: right;
    margin-right: 50px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img{
        width: 280px;
        height: 280px;
    }
}

