.location-info{
    background-color: black;
    color: white;
    position: absolute;
    min-height: 50px;
    min-width: 300px;
    max-width: 350px;
    top: 50px;
    left: 20px;
    opacity: 0.8;
    padding: 10px;
    border-radius: 10px;
    font-family: "BellMT";
}