.wildfire-icon{
    height: 4em;
    width: 4em;
  }
  
  .volcanic-eruption-icon{
    height: 4em;
    width: 4em;
  }
  
  .glacier-icon{
    height: 4em;
    width: 4em;
  }
  
  .severe-storm-icon{
    height: 9em;
    width: 9em;
  }