.tracker-page{
    overflow-x: hidden;
    background-color: rgb(233, 233, 233);
    height: 720px;
}
.tracker-activate-buttons{
    width: 600px;
    height: 80px;
    background-color: white;
    top: 80px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    left: 40px;
    button{
        background-color: black;
        color: white;
        width: 100px;
        height: 40px;
        margin-top: 20px;
        font-family: "BellMT";
        border-radius: 10px;
    }
    .wildfire-btn{
        background-color: red;
    }
    .storm-btn{
        background-color: #304660;
    }
    .volcano-btn{
        background-color: #840000;
    }
    .icemelt-btn{
        background-color: #5773C4;
    }
}

.tracker-details{
 
    width: 600px;
    height: 600px;
    background-color: white;
    border: solid 1px black;
    position: absolute;
    top: 170px;
    left: 40px;
    overflow-y: scroll;
    .tracker-details-content{
        margin-top: 10px;
        margin-left: 10px;
        background-color: rgb(216, 216, 216);
        border-radius: 5px;
        max-width: 580px;
        min-height: 60px;
        h2{
            margin: 5px;
        }
        p{
            margin: 5px;
            
        }
    }
}